clip==1.0
faiss-cpu==1.10.0   # Use faiss-gpu if you have a compatible GPU setup
gradio==5.23.3
huggingface-hub==0.30.1
numpy==2.2.4
pandas==2.2.3
pillow==11.1.0
requests==2.32.3
torch==2.6.0
torchvision==0.21.0
